.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-shape-1 {
  width: 662px;
  height: 334px;
  background-image: none;
  margin: 458px 22px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 659px;
  width: 583px;
  margin: -722px auto 0 76px;
}

.u-section-1 .u-shape-2 {
  width: 237px;
  height: 237px;
  margin: -126px auto 0 0;
}

.u-section-1 .u-shape-3 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -798px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 462px;
  min-height: 549px;
  margin: -136px 88px -229px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 40px 30px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  line-height: 32.4px;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-1 .u-image-1 {
    height: 541px;
    width: 435px;
    object-position: 66.82% 50%;
    margin-left: 51px;
  }

  .u-section-1 .u-shape-2 {
    width: 189px;
    height: 189px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-1 .u-image-1 {
    height: 442px;
    width: 380px;
    object-position: 52.37% 50%;
    margin-left: 48px;
  }

  .u-section-1 .u-shape-2 {
    width: 163px;
    height: 163px;
  }

  .u-section-1 .u-shape-3 {
    width: 212px;
    height: 212px;
  }

  .u-section-1 .u-group-1 {
    width: 414px;
    min-height: 532px;
    margin-right: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -77px;
  }

  .u-section-1 .u-shape-3 {
    width: 188px;
    height: 188px;
  }

  .u-section-1 .u-group-1 {
    width: 357px;
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 21px 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 368px;
    width: 298px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 149px;
  }

  .u-section-1 .u-group-1 {
    width: 298px;
    min-height: 512px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }
}