{%  extends 'green/Layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Plant.css' %}" media="screen">
<title>Roślina</title>

    <section class="u-align-center u-clearfix u-section-1" src="" id="carousel_d25d">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">{{plant.name_pl}}</h2>
        <a href="{% url 'green:shelf' user.id %}" class="u-active-custom-color-2 u-border-none u-btn u-button-style u-custom-color-2 u-hover-custom-color-4 u-text-body-alt-color u-text-hover-white u-btn-1">DODAJ NA PÓŁKĘ</a>
        <img class="u-image u-image-1" src="{% static 'images/plant/1.jpg' %}" data-image-width="1700" data-image-height="807">
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-palette-4-dark-2 u-repeater-item u-shape-rectangle u-video-cover">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="{% static 'images/1.png' %}" alt=""></span>
                <h4 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-2">Woda</h4>
                <p class="u-text u-text-3">{{plant.water}} </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-4-dark-2 u-repeater-item u-shape-rectangle u-video-cover u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="{% static 'images/2.png' %}" alt=""></span>
                <h4 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-4">Nasłonecznienie</h4>
                <p class="u-text u-text-5">{{plant.sun}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}