{%  extends 'green/Layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Rejestracja.css' %}" media="screen">
<title>Rejestracja</title>
    <section class="u-align-center u-clearfix u-valign-middle-md u-valign-middle-xs u-white u-section-1" id="sec-a3d1">
      <div class="u-expanded-width u-opacity u-opacity-50 u-palette-4-dark-2 u-shape u-shape-rectangle u-shape-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="250" data-animation-direction="Up"></div>
      <div class="u-container-style u-group u-group-1">
        <div class="u-container-layout u-valign-bottom-xs u-valign-middle-lg u-valign-middle-xl u-valign-top-sm u-container-layout-1">
          <img src="{% static 'images/rej.jpg' %}" class="u-align-left u-expanded-width-sm u-expanded-width-xs u-image u-image-1" data-image-width="418" data-image-height="626">
          <div class="u-align-center u-container-style u-group u-white u-group-2">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
              <h2 class="u-text u-text-1">Załóż konto</h2>
              <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-form u-form-1">

                <form action="" method="POST">
                  {% csrf_token %}


                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="name" class="form-control" placeholder="Email..." name="name">

                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Hasło</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło...">
                  </div>
                  <div class="form-group">
                    {{form}}
                  </div>
                  <div class="form-group">
                    <input class="btn btn-primary" type="submit" name="Submit" value="zarejestruj">
                  </div>

                  <div class="u-align-center u-form-group u-form-submit u-form-group-3">
					<a href="{% url 'green:home' %}" class="u-active-grey-90 u-border-none u-btn u-btn-submit u-button-style u-hover-grey-90 u-palette-4-dark-2 u-text-active-white u-text-hover-white u-btn-1">ZAREJESTRUJ</a>
                    <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true" name="Submit">
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}