{%  extends 'green/Layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Shelf.css' %}" media="screen">
<title>Półka</title>

<h2> Półka: {{user.name_us}}</h2>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Roślina</th>
      <th scope="col">Data wstawienie na półkę</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for care in user.care_set.all %}
    <tr>
      <td><a href="{% url 'green:plant' care.plant.id %}">{{care.plant.name_pl}}</a></td>
      <td>{{care.care_date}}</td>
      <td></td>
      <td><a class="btn btn-sm btn-danger" href="{% url 'green:deletePlant' care.id %}">Usuń</a></td>

    </tr>
{% endfor %}

    <tr>
      <td>Wszytskich roślin: {{count}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<p>Zobacz rośliny:</p>
{% for user in users %}
<p><a href="{% url 'green:shelf' user.id %}">{{user.name_us}}</a></p>
{% endfor %}



{% endblock %}